@model IEnumerable<WebColliersCore.Models.B_inmuebles_contrato>


<div class="tableFixHead">
    <table class="table table-responsive-sm table-sm small" id="tab">
        <thead class="font-size-head">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fecha_inicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fecha_termino)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.id_b_cg_contrato_estatu)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            @if (ViewBag.TestList != null)
            {
                @foreach (B_inmuebles_contrato item in ViewBag.TestList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.cr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fecha_inicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fecha_termino)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.estatus)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="11" style="color: red;">Sin información para mostrar</td>
                </tr>
            }
        </tbody>
    </table>
</div>
