@model IEnumerable<WebColliersCore.Models.B_inmuebles_comparativo>

<p>
    @Html.ActionLink("Agregar nuevo", "CreateComparativo", new { id = ViewData["id_b_inmuebles"]})

</p>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.municipio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.region)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.municipio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.region)
                    </td>
                    <td>
                        @Html.ActionLink("Detalle", "DetailsComparativo", new { id=item.id_b_inmuebles_comparativo })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />

<div>
    <a asp-action="Index">Regresar</a>
</div>
