@model IEnumerable<WebColliersCore.Models.Localidad>

<header>
    <style type="text/css">
        table tr th {
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .sorting {
        }

        .asc:after {
            content: ' ↑';
        }

        .desc:after {
            content: " ↓";
        }
    </style>
</header>

<table class="table table-striped table-responsive-sm table-sm small">
    <thead style="position: sticky; top:0; background-color: rgba(11,59,126,1); color: white;">
        <tr>
            <th>
                Inmueble
            </th>
            @if (ViewBag.VB_idCartera == 4)
            {
                <th id="thTipoGentera">
                    Tipo
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.NumeroLocalidad)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.IdUsoInmueble)
            </th>*@
            <th>
                Arrendatario
            </th>
            <th>
                Nombre Comercial
            </th>
            <th>
                Estatus
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClaveInmuebleAux)
                </td>
                @if (ViewBag.VB_idCartera == 4)
                {
                    <td id="tdTipoGentera">
                        @Html.DisplayFor(modelItem => item.TipoInmuebleGenteraAux)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroLocalidad)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.TipoLocalidadAux)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ArrendatarioAux)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreComercialAux)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoAux)
                </td>
                <td>
                    @if (ViewBag.Editar)
                    {
                        @* @Html.ActionLink("Editar", "Edit", new { id = item.IdLocalidad }) *@
                        <a href="@Url.ActionLink("Edit", "Localidades", new { id=item.IdLocalidad })" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Editar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                            </svg>
                        </a>
                    }
                    <a href="@Url.ActionLink("Details", "Localidades", new { id=item.IdLocalidad })" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Detalle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                        </svg>
                    </a>
                    @if (ViewBag.Eliminar)
                    {
                        @* @Html.ActionLink("Eliminar", "Delete", new { id = item.IdLocalidad }) *@
                        <a href="@Url.ActionLink("Delete", "Localidades", new { id=item.IdLocalidad })" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Eliminar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                        </a>
                    }
                </td>               
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        //if ($("#layoutACarteraNombre").text() == "COMPARTAMOS BANCO") {
        //    document.getElementById('thTipoGentera').style.display = 'block';
        //    document.getElementById('tdTipoGentera').style.display = 'block';
        //} else {
        //    document.getElementById('thTipoGentera').style.display = 'none';
        //    document.getElementById('tdTipoGentera').style.display = 'none';
        //}
    });

    function Ordenar() {
        alert("ordenado");
        $('#lstPropietarios').tablesorter();
    }

    $('th').click(function () {
        var table = $(this).parents('table').eq(0)
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        if (!this.asc) {
            rows = rows.reverse()
        }
        for (var i = 0; i < rows.length; i++) {
            table.append(rows[i])
        }
        setIcon($(this), this.asc);
    })

    function comparer(index) {
        return function (a, b) {
            var valA = getCellValue(a, index),
                valB = getCellValue(b, index)
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB)
        }
    }

    function getCellValue(row, index) {
        return $(row).children('td').eq(index).html()
    }

    function setIcon(element, asc) {
        $("th").each(function (index) {
            $(this).removeClass("sorting");
            $(this).removeClass("asc");
            $(this).removeClass("desc");
        });
        element.addClass("sorting");
        if (asc) element.addClass("asc");
        else element.addClass("desc");
    }
</script>
