@model IEnumerable<WebColliersCore.Models.B_inmuebles_contrato_correos>

<p>
    @Html.ActionLink("Agregar nuevo", "CreateCorreos", new { id = ViewData["id_b_inmuebles_contrato"]})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditCorreos", new {  id=item.id_b_inmuebles_contrato_correo  }) |
                    @Html.ActionLink("Detalle", "DetailsCorreos", new { id=item.id_b_inmuebles_contrato_correo }) |
                    @Html.ActionLink("Eliminar", "DeleteCorreos", new { id=item.id_b_inmuebles_contrato_correo })
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Regresar", "ListContratos", new { id = ViewData["id_b_inmuebles"]})
