@model WebColliersCore.Models.B_inmuebles_contrato

@{
    ViewData["Title"] = "Delete";
}

<h3>¡Se eliminará el contrato!</h3>
<div>
    <h4>Eliminar contrato</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_b_cg_contrato_tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_b_cg_contrato_estatu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.renta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.renta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_termino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_termino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_anticipacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_anticipacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_obligado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_obligado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.litigio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.litigio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.observaciones)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        @Html.ActionLink("Regresar", "ListContratos", new { id = ViewData["id_b_inmuebles"]})
    </form>
</div>
