@model IEnumerable<WebColliersCore.Models.B_inmuebles_contrato>


<div class="tableFixHead">
    <table class="table table-responsive-sm table-sm small" id="tab">
        <thead class="font-size-head">
            <tr>
                <th>
                    Notificar
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.contrato)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fecha_inicio)
                </th>
                <th>
                    @Html.DisplayName(ViewBag.Campo == 1 ? "Fecha de Termino":"Fecha de Revisión")
                </th>
                <th>
                    @* @Html.DisplayNameFor(model => model.EsSeleccionado) *@
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: center" class="chkres">
                            <input type="checkbox" name="Check" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.contrato)
                        </td>
                        <td>
                            @Html.EditorFor(modelItem => item.email, 
                                new { htmlAttributes = new { @class = "form-control font-size-row", 
                                @style = "width: 18em;" } })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fecha_inicio)
                        </td>
                        <td>
                            @if(ViewBag.Campo == 1) { 
                                @Html.DisplayFor(modelItem => item.fecha_termino)
                            } 
                            else
                            {
                                @Html.DisplayFor(modelItem => item.fecha_revision)
                            }

                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="11" style="color: red;">Sin información para mostrar</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/sweetalert.min.js"></script>
    <link href="~/css/sweetalert.css" rel="stylesheet">
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }  
}

<script>
            $("#btnEnviar").click(function () {
        swal({
            title: "¿Seguro que deseas continuar?",
            text: "Se enviará correo a los registros seleccionados y que tengan correo",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                ProcesarEnvios();
            } else {
                swal("Operación cancelada por el usuario!");
            }
        });

    });

    function ProcesarEnvios(){
        $('#btnEnviar').hide();
        $('#btnEnviando').show();
        Enviar();
    }

    function Enviar(){
        let rows = [];

	    $('#formAccion tbody tr').each(function () {
		    let $tds = $(this).find('td');
		    let rowAr = {};
	
		// Capturar valores visibles (DisplayFor)
		rowAr["Nombre"] = $tds.eq(1).text().trim();
		rowAr["CR"] = $tds.eq(2).text().trim();
		rowAr["UE"] = $tds.eq(3).text().trim();
		rowAr["Contrato"] = $tds.eq(4).text().trim();
		rowAr["fecha_inicio"] = $tds.eq(6).text().trim();
        var campoa = $('#selectCampo').val();
        if (parseInt(campoa) ===  1  ) {
            rowAr["fecha_termino"] = $tds.eq(7).text().trim();
        }
        else{
            rowAr["fecha_revision"] = $tds.eq(7).text().trim();
        }
		
	    
		// Capturar input editable (EditorFor)
		rowAr["Email"] = $tds.eq(5).find('input').val();
	
		// Capturar checkbox
		rowAr["Check"] = $tds.eq(0).find('input[type="checkbox"]').is(':checked');
	
	rows.push(rowAr);
	});
        $.ajax({
                url: $("#formAccion").attr('action'),
                type: 'POST',
                data: {
                    movAut: JSON.stringify(rows),
                    meses: $("#inputMeses").val(),
                    campo: $("#selectCampo").val()
                }, success: function (response) {
                    swal({
                        title: "¡Envío Exitoso!",
                        text: "Se enviaron los correos de los registros seleccionados",
                        icon: "success"
                    });
                },
                error: function (response) {
                    alert("Error al hacer el envío.")
                },
                complete: function (xhr, status) {
                    $('#btnEnviar').show();
                    $('#btnEnviando').hide();
                },
                async: false
            });
    }
</script>